#best{
  background: #1d1f23;
  .best{
    display: flex;
    padding: 234px 2% 80px 5% ;
    &--block{
      width: 500px;
      margin: 0 auto;
      h1{
        font-weight: 600;
        font-size: 40px;
        color: #FFFFFF;
        padding: 10px 0 10px 0;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        width: 80%;
      }
      &__group{
        &--image{
          width: 130px;
        }
        display: flex;
        &--img{
          width: 50px;
         gap: 3px;
        }
        &--image{
          padding: 0 0 0 30px;
        }
      &--img{
        display: flex;
        flex-direction: column;
      }
      }
    }
    &--slider{
      width: 47%;
      margin: 0 auto;
      gap: 0 10px;
      &--img1{
        width: 200px;
        height: 250px;
      }
      &--img2{
        width: 200px;
        height: 250px;
      }
    }
  }
}

@media screen and (min-width: 768px ) and (max-width: 1200px){
  #best{
    .best{
      padding: 80px 0 0 0;
&--slider{
    img{
      width: 90%;
    }
}
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 992px){
  #best{
    .best{
      display: flex;
      flex-direction: column;
      padding: 80px 0 0 0;
      &--block{
        h1{
          font-size: 22px;
          width: 50%;
        }
        p{
          font-size: 12px;
          width: 50%;
        }
      }
      &--slider{
        margin-top: 30px;
        img{
          width: 90%;
        }
      }
    }
  }
}