
#sidebar {
  width: 50%;
  height: 100%;
   .sidebar--all {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
        .sidebar {
          width: 70%;
          background: #1F2731;
          display: flex;
          flex-direction: column;
          align-items: center;
          ul.nav {

            width: 70%;
            list-style: none;
            padding-left: 0;

            li.nav-item {
              a.nav-link {
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 10px 15px;
                position: relative;

                &:hover {
                  background-color: #EF272C;
                }

                span {
                  display: block;
                }
              }

              hr.text-secondary {
                margin: 5px 0;
                border: none;
                border-top: 1px solid #999;
              }
            }
          }
        }
      }

  }
.pages{
  background: #1B2026;
  width: 50%;
  .deserts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    margin-right:100px;
    background: #1B2026;
&--all{
  display: flex;
  //flex-wrap: wrap;

  h4{
    width: 127px;
    height: 31px;
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  h2{
    font-size: 20px;
    color: #EF272C;
    margin-left:20px;
  }
  h1{
    color: white;
  }
  h5{
    width: 401px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;

  }
}
    .order-now {
      display: flex;
      justify-content: flex-start;
      margin-left: 450px;
      font-size: 16px;
      ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                }

                li {
                  margin: 10px 0;

                  a.nav-link {
                    text-decoration: none;
                    color: #fff;
                    position: relative;

                    &:hover {
                      &::after {
                        width: 100%;
                      }
                    }
    }
  }
}}}
//------------rout--------------
#rout{
  .rout{
    background: #1B2026;
    width: 100%;
    &--all{
      display: flex;
      padding: 30px;
    }
    &--teen{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40vh;

      &--img {
        display: flex;
        color: #FFFFFF;
        img{
          width: 51px;
          height: 24px;
        }
      }
    }
    &--link {
      display: flex;
      align-content: center;
      justify-content: center;
      border: 2px solid rgba(253, 33, 59, 0.86);
      width: 186px;
      margin-left: 540px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin: 10px 0;
      } }
  }
}


@media (max-width: 1268px) {
  #sidebar{
    hr{
      width: 96%;
    }
    ul li a:hover {
      width:96%;
    }
  }
.deserts{
  &--all{
    width:40%;
  }
}


}
@media (max-width: 992px) {
  .pages{
    width: 65%;
    .order-now {
      display: flex;
      justify-content: flex-start;
      margin-left: 293px;
      font-size: 11px;
    }
    h5 {
      width: 40%;
      font-size: 10px;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      width: 75%;
    }
    h2 {
      font-size: 19px;
      color: #EF272C;
      margin-left: 58px;
    }
    h4 {
      width: 90px;
      height: 40px;
      font-size: 16px;
    }


  }
  #sidebar{
    width: 100%;
    ul li a:hover {
      width:78%;
    }
    .sidebar{
      width:100%;

      li {

        padding: 0;
        margin: 0;
        top: 0;
      }
    }
  }
  #rout{
    .rout--link {
      margin-left: 325px;
    }
  }

}

@media (max-width: 800px) {
  #sidebar{
    hr{
      width: 61%;
    }
    ul li a:hover {
      width:61%;
    }
}}
@media (max-width: 768px) {
  #sidebar{
    hr{
      width: 93%;
    }
    ul li a:hover {
      width:93%;
    }
    #rout{
      .rout--link {
        margin-left: 300px;
      }
    }
}
  .pages{
    display: none;
  }
}
@media (max-width: 678px) {
  #sidebar{
    hr{
      width: 88%;
    }
    ul li a:hover {
      width:88%;
    }
  }
  #rout{
    .rout--link {
      margin-left: 245px;
    }
  }
}

@media (max-width: 480px) {
  #rout{
    .rout--link {
      margin-left: 145px;
    }
  }
  #sidebar {
    hr {
      width: 88%;
    }

    ul li a:hover {
      width: 88%;
    }

    ul li a:hover {
      width: 86%;
    }
  }}


