@media (max-width: 1440px) {

}

@media (max-width: 1200px) {


}

@media (max-width: 1140px) {


}

@media (max-width: 1024px) {


}

@media (max-width: 992px) {


}
@media (max-width: 900px) {
  .menuRout{
    margin-right: 10%;
  }
  #sidebar{
    .sidebar--all{
      .sidebar{
        width: 97%;
      }
    }
  }

}

@media (max-width: 800px) {
  #sidebar{
    hr{
      width: 110%;
    }
    ul li a:hover{
      width: 97%;
    }
    .sidebar--all{
      flex-direction: column;
      .sidebar{

      }
    }

  }
  #rout{
    .rout{
      &--all{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
  .menuRout{
    margin-right: 45%;
  }
}

@media (max-width: 475px) {
 #sidebar{
   width: 82%;
 }
  .menuRout{
    margin-right: 70%;
  }

}

@media (max-width: 462px) {
.menuRout{

    .menuDesert{
      flex-wrap: wrap;
      div{
        width: 214px;
        h2{
          font-size: 15px;
        }
        p{
          font-size: 15px;
        }
      }
    }
  }
}



@media (max-width: 400px) {
 .menuRout{
   .menuDesert{
     div{
       width: 178px;
       h2{
         font-size: 10px;
       }
     }
   }
 }
}

@media (max-width: 380px) {
  .menuRout{
    .menuDesert{
      div{
        width: 169px;
        p{

          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
   .menuRout{
     .menuDesert{
       div{
         width: 137px;
         p{
           font-size: 11px;
         }
       }
     }
   }
  #sidebar{
    .sidebar--all{
      .sidebar{
        width: 154%;
      }
    }
  }
}