#aboutFoods {
  background: #1B2026;
  .aboutFoods {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;

    &--menuTitle {
      display: none;
  }

  &--firstTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 666px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          padding-left: 20px;
          font-family: 'Shalimar', sans-serif;
          font-weight: 400;
          font-size: 40px;
          color: #FFFFFF;
      }
    }

      &__icon {
        color: white;
        font-size: 22px;
    }
  }

    &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      &__name {
        font-family: 'Shalimar', sans-serif;
        font-weight: 400;
        font-size: 40px;
        margin: 0 30px;
        color: #FFFFFF;
    }

      &__titleBlock {
        display: flex;
        flex-direction: column;

        &--left {
          padding: 2px 0;
      }

        &--line {
          width: 51.26px;
          height: -1px;
          border: 2px solid #EF272C;
      }
    }
  }

    &--aboutFoods {
      width: 34%;
      font-family: 'Silk Serif', cursive;
      font-weight: 600;
      font-size: 40px;
      line-height: 61px;
      color: #FFFFFF;
      padding: 20px 0;
  }

    &--block {
      display: flex;
      justify-content: space-between;
      align-items: start;

      &__icon {
        color: white;
        font-size: 40px;
        position: absolute;
        left: 63px;
        top: 100px;
        cursor: pointer;
    }

      &--title {
        font-family: 'Silk Serif', cursive;
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
        margin-top: 60px;
        padding: 20px 0;
    }

      &__addedFoods {
        &--spend {
          width: 773px;
          height: 250px;
          background: #1F2731;
          border-radius: 2px;

          &__feel {
            &--keep {
              display: flex;
              align-items: start;

              &__btn{
                display: none;

              }

              &__make {
                padding-bottom: 20px;


                &--block {
                  display: flex;
                  flex-direction: column;
              }

                padding-right: 40px;

                &--give {
                  padding: 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  &__let {
                    h3 {
                      font-family: 'Spartan', sans-serif;
                      font-weight: 600;
                      font-size: 16px;
                      color: #FFFFFF;
                      padding-bottom: 10px;
                  }


                    h5 {
                      font-family: 'Spartan';
                      font-weight: 500;
                      font-size: 14px;
                      letter-spacing: 0.07em;
                      color: #BBBBBB;
                  }
                }


                  h2 {
                    font-family: 'Spartan', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    color: #EF272C;
                }
              }
            }

              &--think {
                width: 340px;

                h3 {
                  font-family: 'Spartan', sans-serif;
                  font-weight: 600;
                  font-size: 20px;
                  color: #FFFFFF;
                  padding-top: 20px;
              }


                &__become {
                  display: flex;
                  justify-content: space-between;
                  align-items: end;

                  h4 {
                    font-family: 'Spartan';
                    font-weight: 500;
                    font-size: 15px;
                    color:  #BBBBBB;
                    padding: 10px 0;
                }
              }
            }
          }
        }
      }
    }

      &--blockChild {
        margin-left: 60px;

        &__foods {
          display: flex;
          justify-content: space-between;
          align-items: start;

          &--allBtn {
            margin-right: 100px;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 380px;
            overflow: hidden;

            .mainMenu--block--blockChild__foods--allBtn__btn {
              background: #1F2731;
              width: 94%;
              height: 70px;
              transition: .4s;
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;

              &--line {
                transition: .4s;
                width: 60px;
                position: absolute;
                background: white;
                left: 322px;
                top: 50%;
                height: 3px;
            }

              button {
                background: transparent;
                padding: 12px 20px;
                font-family: 'Silk Serif';
                font-weight: 600;
                font-size: 24px;
                border: none;
                color: #FFFFFF;
                border-bottom: white solid 2px;
                transition: .5s;
            }

              &:hover {
                background: rgba(239, 39, 44, 0.27);

                button {
                  border: none;
              }
              }
          } }
      }
    }
      &__onlyFood {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: -25px 65px 30px -25px;

        &__parent {
          margin: 12px 8px;
          display: flex;
          flex-direction: column;
          align-items: start;
          padding-bottom: 40px;
          width: 360px;
          height: 220px;
          background: #FFFFFF;
          border-radius: 2px;

          &--img {
            width: 100%;
            height: auto;
        }

          &--order {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 94%;

            &__title {
              padding-left: 10px;

              h5 {
                font-family: 'Spartan', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.07em;
                color: #939393;
            }

              h4 {
                font-family: 'Spartan', sans-serif;
                font-weight: 600;
                font-size: 18px;
                padding: 6px 0;
                line-height: 18px;
                color: #1F2731;
            }
          }

            h3 {
              font-family: 'Spartan', sans-serif;
              font-weight: 600;
              font-size: 20px;
              color: #EF272C;
          }

        }

      }
    }

  }
}
}


@media (max-width: 1200px) {
#aboutFoods {
  .aboutFoods {
    &--block {
      &__addedFoods {
          width: 100%;
          &__feel {
              &--think {
                width: 295px;
            }
              &__make {
                padding-right: 20px;
            }
          }
    }

      &--blockChild {
        &__foods {
          &--allBtn {
            width: 315px;
            margin-right: 40px;

            .mainMenu {

                      &__btn {
                        width: 90%;
                        &--line {
                          left: 265px;
                      }
                    }
                  }
                }
      }
    }
  }
}
}
}

@media (max-width: 1024px) {
#aboutFoods {
  .aboutFoods {
    &--block {
      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          width: 100%;
          height: 200px;

          &__feel {
            &--keep {
              &--think {
                width: 295px;
                padding-right: 8px;

                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }

      padding-top: 35px;

      &__onlyFood {
        &__parent {
          width: 238px;
          height: 157px;
      }
    }

      &--blockChild {
        &__foods {
          &--allBtn {
            width: 300px;
            margin-right: 24px;

            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      &__btn {
                        width: 90%;
                        height: 60px;

                        button {
                          font-size: 22px;
                          border-bottom: 1px solid white;
                      }

                        &--line {
                          left: 236px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}


@media (max-width: 768px) {
#aboutFoods {
  .aboutFoods {

    &--menuTitle {
      display: block;
  }

    &--block {
      flex-direction: column;

      &__icon {
        left: 34px;
        top: 330px;
    }

      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          width: 100%;
          height: 255px;
          margin-top: 100px;

          &__feel {
            &--keep {
              &--think {
                width: 295px;
                padding-right: 8px;

                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }

      padding-top: 35px;

      &__onlyFood {
        justify-content: space-between;
        width: 90%;
        margin-left: 40px;
        &__parent {
          width: 290px;
          height: 180px;
      }
    }

      &--blockChild {
        display: flex;
        overflow-x: auto;
        width: 700px;
        margin-left: 0;
        padding: 20px 0;

        &__foods {
          &--allBtn {
            width: 214px;
            margin: 0 5px;

            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      &__btn {
                        width: 100%;
                        height: 54px;
                        border-radius: 4px;

                        button {
                          font-size: 22px;
                          border: none;
                      }

                        &--line {
                          display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}

@media (max-width: 576px) {
#aboutFoods {
  .aboutFoods {
    padding: 100px 0;
    &--firstTitle{
      width: 500px;
  }
    &--block {
      flex-direction: column;

      &__icon {
        left: 24px;
        top: 92px;
        z-index: 8;
        position: fixed;
    }

      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          padding-top: 150px;
          margin-top: 0;
          &__feel {
            &--keep {
              flex-direction: column;
              width: 90%;
              margin-left: 20%;

              &__btn{
                display: block;
                padding: 10px 30px;
                font-family: 'Spartan',sans-serif;
                font-weight: 500;
                font-size: 14px;
                background: #EF272C;
                border: 0.5px solid #181818;
                border-radius: 2px;
                color: #FFFFFF;
            }

              &--think {
                width: 295px;
                margin: 10px 0;
                padding: 10px 0;
                border-top: 1px solid grey;
                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  padding: 10px 0;
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }


      &__onlyFood {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        &__parent {
          width: 100%;
          height: auto;
          padding-bottom: 40px;
          flex-direction: revert;
          overflow: hidden;
          background: transparent;
          border-bottom: 1px solid grey;
          margin-left:57px;

          &--img{
            width: 48%;
            border-radius: 8px;

        }
          &--order {
            flex-direction: column;
            align-items: start;
            &__title{
              padding-top: 6px;
          }
            h4{
              color: white;
              font-size: 20px;
              padding-bottom: 10px;
          }
            h3 {
              padding-left: 10px;
              padding-top: 14px;
          }
        }
      }
    }

      &--blockChild {
        &__foods {
          &--allBtn {
            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      &__btn {
                        width: 100%;
                        height: 43px;
                        border-radius: 4px;
                        justify-content: center;
                        button {
                          font-size: 18px;
                          border: none;
                          padding: 0;
                      }

                        &--line {
                          display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}

@media (max-width: 450px) {
#aboutFoods {
  .aboutFoods {
    padding: 100px 0;
    &--firstTitle{
      width: 396px;
  }
    &--block {
      flex-direction: column;

      &__icon {
        left: 24px;
        top: 92px;
        z-index: 8;
        position: fixed;
    }

      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          padding-top: 150px;

          &__feel {
            &--keep {
              flex-direction: column;
              width: 90%;
              margin-left: 13%;

              &__btn{
                display: block;
                padding: 10px 30px;
                font-family: 'Spartan',sans-serif;
                font-weight: 500;
                font-size: 14px;
                background: #EF272C;
                border: 0.5px solid #181818;
                border-radius: 2px;
                color: #FFFFFF;
            }

              &--think {
                width: 295px;
                margin: 10px 0;
                padding: 10px 0;
                border-top: 1px solid grey;
                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  padding: 10px 0;
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }

      padding-top: 35px;

      &__onlyFood {
        justify-content: space-between;
        margin-left: 0;
        width: 100%;
        &__parent {
          width: 100%;
          height: auto;
          padding-bottom: 20px;
          flex-direction: revert;
          overflow: hidden;
          background: transparent;
          border-bottom: 1px solid grey;
          &--img{
            width: 48%;
            border-radius: 8px;

        }
          &--order {
            flex-direction: column;
            align-items: start;
            &__title{
              padding-top: 6px;
          }
            h4{
              color: white;
              font-size: 20px;
              padding-bottom: 10px;
          }
            h3 {
              padding-left: 10px;
              padding-top: 14px;
          }
        }
      }
    }

      &--blockChild {
        display: flex;
        overflow-x: auto;
        width: 425px;
        margin-left: 0;
        padding: 20px 0;

        &__foods {
          &--allBtn {
            width: 164px;
            margin: 0 5px;

            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      width: 158px;
                      &__btn {
                        width: 100%;
                        height: 43px;
                        border-radius: 4px;
                        justify-content: center;
                        button {
                          font-size: 17px;
                          border: none;
                          padding: 0;
                      }

                        &--line {
                          display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}

@media (max-width: 375px) {
#aboutFoods {
  .aboutFoods {
    padding: 100px 0;
    &--firstTitle{
      width: 330px;

      &__icon{
        font-size: 20px;
    }
      div{
        width: 28%;
        img{
          width: 26%;
      }
        h1{
          padding-left: 8px;
          font-size: 35px;
      }
    }
  }
    &--block {
      flex-direction: column;
      padding-top: 10px;
      &__icon {
        left: 24px;
        top: 92px;
        z-index: 8;
        position: fixed;
        font-size: 32px;
    }

      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          padding-top: 150px;

          &__feel {
            &--keep {
              flex-direction: column;
              width: 90%;
              margin-left: 8%;

              &__btn{
                display: block;
                padding: 10px 30px;
                font-family: 'Spartan',sans-serif;
                font-weight: 500;
                font-size: 14px;
                background: #EF272C;
                border: 0.5px solid #181818;
                border-radius: 2px;
                color: #FFFFFF;
            }

              &--think {
                width: 295px;
                margin: 10px 0;
                padding: 10px 0;
                border-top: 1px solid grey;
                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  padding: 10px 0;
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }

      &__onlyFood {
        justify-content: space-between;
        margin-left: 0;
        width: 100%;
        &__parent {
          width: 100%;
          height: auto;
          padding-bottom: 20px;
          flex-direction: revert;
          overflow: hidden;
          background: transparent;
          border-bottom: 1px solid grey;
          &--img{
            width: 48%;
            border-radius: 8px;

        }
          &--order {
            flex-direction: column;
            align-items: start;
            &__title{
              padding-top: 6px;
          }
            h4{
              color: white;
              font-size: 17px;
              padding-bottom: 10px;
          }
            h3 {
              padding-left: 10px;
              padding-top: 14px;
              font-size: 16px;
          }
        }
      }
    }

      &--blockChild {
        display: flex;
        overflow-x: auto;
        width: 350px;
        margin-left: 0;
        padding: 20px 0;

        &__foods {
          &--allBtn {
            width: 164px;
            margin: 0 5px;

            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      width: 158px;
                      &__btn {
                        width: 100%;
                        height: 43px;
                        border-radius: 4px;
                        justify-content: center;
                        button {
                          font-size: 17px;
                          border: none;
                          padding: 0;
                      }

                        &--line {
                          display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}
@media (max-width: 320px) {
#aboutFoods {
  .aboutFoods {
    padding: 100px 0;
    &--firstTitle{
      width: 270px;

      &__icon{
        font-size: 20px;
    }
      div{
        width: 28%;
        img{
          width: 26%;
      }
        h1{
          padding-left: 8px;
          font-size: 35px;
      }
    }
  }
    &--block {
      flex-direction: column;
      padding-top: 10px;
      &__icon {
        left: 24px;
        top: 92px;
        z-index: 8;
        position: fixed;
        font-size: 32px;
    }

      &--title {
        font-size: 30px;
        margin-top: 16px;
        padding: 14px 0;
    }

      &__addedFoods {
        &--spend {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          padding-top: 150px;

          &__feel {
            &--keep {
              flex-direction: column;
              width: 90%;
              margin-left: 8%;

              &__btn{
                display: block;
                padding: 10px 30px;
                font-family: 'Spartan',sans-serif;
                font-weight: 500;
                font-size: 14px;
                background: #EF272C;
                border: 0.5px solid #181818;
                border-radius: 2px;
                color: #FFFFFF;
            }

              &--think {
                width: 270px;
                margin: 10px 0;
                padding: 10px 0;
                border-top: 1px solid grey;
                &__become {
                  h4 {
                    padding: 6px 0;
                    font-size: 14px;
                }
              }

                h3 {
                  padding-top: 8px;
                  font-size: 18px;
              }
            }

              &__make {
                padding-right: 20px;

                &--give {
                  padding: 10px 0;
                  h2 {
                    font-size: 17px;
                }
              }

                img {
                  width: 100%;
              }
            }
          }
        }
      }
    }

      &__onlyFood {
        margin-left: 0;
        width: 100%;

        &__parent {
          width: 100%;
          height: auto;
          padding-bottom: 12px;
          flex-direction: revert;
          overflow: hidden;
          background: transparent;
          margin: 8px;
          border-bottom: 1px solid grey;
          &--img{
            width: 48%;
            border-radius: 8px;

        }
          &--order {
            flex-direction: column;
            align-items: start;
            &__title{
              padding-top: 6px;
          }

            h5{
              font-size: 11px;
          }
            h4{
              color: white;
              font-size: 16px;
              padding: 3px 0;
          }
            h3 {
              padding-left: 10px;
              padding-top: 9px;
              font-size: 15px;
          }
        }
      }
    }

      &--blockChild {
        display: flex;
        overflow-x: auto;
        width: 280px;
        margin-left: 0;
        padding: 20px 0;

        &__foods {
          &--allBtn {
            width: 100px;
            margin: 0 5px;

            .mainMenu {
              &--block {
                &--blockChild {
                  &__foods {
                    &--allBtn {
                      width: 158px;
                      &__btn {
                        width: 100%;
                        height: 32px;
                        border-radius: 4px;
                        justify-content: center;
                        button {
                          font-size: 13px;
                          border: none;
                          padding: 0;
                      }

                        &--line {
                          display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}